body{
    margin: 0;
    padding: 0;
}
#canvas {
    margin: 1px;
    border: 1px solid black;
    margin-right: 50px;
}
.myButton {
    background-color: #008CBA;
    color: #fff;
    border: none;
    padding: 5px;
    text-align: center;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    height: 32px;
}

.myButton:hover {
    background-color: #006E8C;
}
.add-button {
    background-color: saddlebrown;
    color: #fff;
    border: none;
    text-align: center;
    font-size: 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 21.2px;
    margin-bottom: 10px;
}

.add-button:hover {
    background-color: #71330AFF;
}
.panel {
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
}

.panel input[type="text"] {
    width: 130px;
    margin-bottom: 10px;
}

.panel button {
    margin-top: 10px;
}
.main{
    display: flex;
    flex-direction: column;
}
.content{
    display: flex;
}
#notification{
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}
#notification.show{
    visibility: visible;
}
.notification{
    font-size: 15px;
    width: 80px;
    height: 50px;
    position: absolute;
    background-color: white;
    padding: 5px;
    border: 1px solid black
}
.legend{
    display: flex;
    width: 120%;
}
.colorChange{
    margin-right: 30px;
}
#deleteAll{
    margin-top: 50px;
}
.graphic{
    display: flex;
    flex-direction: column;
}
.scale{
    display: flex;
    flex-direction: column;
}
.options{
    display: flex;
    justify-content: space-between;
}
#thumbnailCanvas{
    scale: 0.5;
    border: 1px solid black;
    margin-top: -50px;
}
#generation{
    position: absolute;
    right: 5%;
    top: 15%;
}